body {
  position: relative;
  padding: 0;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  p {
    margin: 0;
  }
}

ul {
  padding: 0;
  margin: 0;
}

.button-primario {
  padding: 16px;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  transition: background-color, 120ms ease;

  hover {
    background-color: rgb(185, 47, 53);
  }
}

nav {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  background-color: white;
  z-index: 5;
}

header {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.container-principal {
  padding: 0 64px;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
}

.menu-principal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.menu-secundario {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.menu-item-secundario {
  all: unset;
  font-size: 12px;
}

.menu-item-secundario a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.menu-item-secundario a:hover {
  color: rgb(185, 47, 53);
}

.menu-item-primario {
  all: unset;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.menu-item-primario a {
  text-decoration: none;
  color: #000;
}

.sale a {
  text-decoration: none;
  color: rgb(185, 47, 53);
}

.menu-item-primario a:hover {
  color: rgb(185, 47, 53);
}

.menu-item-barra {
  all: unset;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.menu-item-input {
  all: unset;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.8);

  input {
    padding: 4px;
  }
}

.fundo-preto {
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.hero-image-container {
  overflow: hidden;
  max-width: 100vw;
}

.hero-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.secao-titulo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 24px 16px;

  hr {
    width: 100%;
  }
}

.titulo {
  font-size: 18px;
  flex-shrink: 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.imagens-horizontal {
  display: flex;
  gap: 32px;
  width: 100%;
  margin-bottom: 56px;
}

.imagens-horizontal img {
  position: relative;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 2px;
}

.relative-container {
  position: relative;
  flex-grow: 1;
  height: 120px;
}

.absolute-text {
  position: absolute;
  z-index: 1;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.lançamentos-galeria {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  margin-bottom: 32px;
}

.lançamentos-galeria img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  z-index: 0;

  ::hover {
    height: 20px;
  }
}

.overlay {
  position: relative;
}

.overlay-conteudo {
  opacity: 0;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  z-index: 2;
  transition: opacity 100ms ease;
  padding: 10%;
  text-align: center;
}

.overlay-conteudo:hover {
  opacity: 1;
}

.overlay-titulo {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.overlay-desc {
  font-size: 18px;
  line-height: 1.5;
  color: white;
}

.classico-card img {
  height: 100%;
  object-fit: contain;
}

.classico {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.classico-ano {
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.classico-botoes {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.classico-botoes button:hover {
  background-color: rgb(185, 47, 53);
}

.recomendamos-card img {
  object-fit: contain;
}

.recomendamos {
  margin: 8px 0;
  font-size: 14px;
  font-weight: 600;
}

.recomendamos-preco {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

footer {
  background-color: black;
  color: white;
}

.news {
  font-size: 16px;
  letter-spacing: 0.1rem;
  color: rgb(185, 47, 53);
  text-align: center;
  margin: -8px;
  padding: 0;
}
